@model Du_An_One.Models.CHITIETHOADON

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/_LayoutAdmin.cshtml";
}

<h1>XÓA THÔNG TIN CHI TIẾT HÓA ĐƠN</h1>

<h3>Bạn có chắc chắn muốn xóa thông tin hóa đơn này?</h3>

<form asp-action="Delete">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <!-- Các trường thông tin -->
    <div class="form-group">
        <label class="control-label">Mã hóa đơn</label>
        <input readonly class="form-control" value="@Model.MaHoaDon" />
    </div>

    <div class="form-group">
        <label class="control-label">Mã sản phẩm</label>
        <input readonly class="form-control" value="@Model.MaSP" />
    </div>

    <div class="form-group">
        <label class="control-label">Số lượng mua</label>
        <input readonly class="form-control" value="@Model.SoLuongMua" />
    </div>

    <div class="form-group">
        <label class="control-label">Đơn giá</label>
        <input readonly class="form-control" value="@(Model.SANPHAM?.DonGiaBan * (1 - (Model.SANPHAM?.KHUYENMAI?.PhanTramKhuyenMai ?? 0) / 100))" />
    </div>

    <div class="form-group">
        <label class="control-label">Ngày tạo</label>
        <input readonly class="form-control" value="@Model.HOADON?.NgayTao.ToString("dd/MM/yyyy")" />
    </div>

    <div class="form-group">
        <label class="control-label">Tổng tiền</label>
        <input readonly class="form-control" value="@(Model.SANPHAM?.DonGiaBan * (1 - (Model.SANPHAM?.KHUYENMAI?.PhanTramKhuyenMai ?? 0) / 100) * Model.SoLuongMua)" />
    </div>

    <div class="form-group">
        <label class="control-label">Khách hàng</label>
        <input readonly class="form-control" value="@Model.HOADON?.MaKH" />
    </div>

    <div class="form-group">
        <label class="control-label">Thu ngân</label>
        <input readonly class="form-control" value="@Model.HOADON?.MaNV" />
    </div>

    <div class="form-group">
        <label class="control-label">Hình thức thanh toán</label>
        <input readonly class="form-control" value="@Model.HOADON?.HTTT" />
    </div>

    <div class="form-group">
        <label class="control-label">Địa chỉ nhận hàng</label>
        <input readonly class="form-control" value="@Model.HOADON?.DiaChiNhanHang" />
    </div>

    <div class="form-group">
        <label class="control-label">Tình trạng</label>
        <input readonly class="form-control" value="@Model.HOADON?.TinhTrang" />
    </div>

    <!-- Nút Submit và Quay lại -->
    <div class="form-group">
        <button type="submit" class="btn btn-danger">Xóa</button>
        <a asp-action="Index" class="btn btn-primary">Quay lại</a>
    </div>
</form>
