@model Du_An_One.Models.CHITIETHOADON

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/_LayoutAdmin.cshtml";
}


<h1>SỬA THÔNG TIN CHI TIẾT HÓA ĐƠN</h1>


<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <!-- Các trường thông tin -->
    <div class="form-group">
        <label asp-for="MaHoaDon" class="control-label">Mã hóa đơn</label>
        <input asp-for="MaHoaDon" readonly class="form-control" value="@Model.MaHoaDon" />
        <span asp-validation-for="MaHoaDon" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="MaSP" class="control-label">Mã sản phẩm</label>
        <input asp-for="MaSP" readonly class="form-control" value="@Model.MaSP" />
        <span asp-validation-for="MaSP" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="SoLuongMua" class="control-label">Số lượng mua</label>
        <input asp-for="SoLuongMua" class="form-control" value="@Model.SoLuongMua" />
        <span asp-validation-for="SoLuongMua" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="DonGia" class="control-label">Đơn giá</label>
        <input asp-for="DonGia" readonly class="form-control" value="@((Model?.DonGia ?? 0) * (1 - (Model.SANPHAM?.KHUYENMAI?.PhanTramKhuyenMai ?? 0) / 100))" />
        <span asp-validation-for="DonGia" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="control-label">Tổng tiền</label>
        <input readonly class="form-control" value="@((Model?.DonGia ?? 0) * (1 - (Model.SANPHAM?.KHUYENMAI?.PhanTramKhuyenMai ?? 0) / 100) * (Model.SoLuongMua))" />
    </div>
    @* <div class="form-group">
        <label class="control-label">Ngày tạo</label>
        <input class="form-control" readonly value="@Model.HOADON?.NgayTao.ToString("dd/MM/yyyy")" />
    </div>

    

    <div class="form-group">
        <label class="control-label">Khách hàng</label>
        <input readonly class="form-control" value="@Model.HOADON?.MaKH" />
    </div>

    <div class="form-group">
        <label class="control-label">Thu ngân</label>
        <input readonly class="form-control" value="@Model.HOADON?.MaNV" />
    </div>

    <div class="form-group">
        <label class="control-label">HTTT</label>
        <input readonly class="form-control" value="@Model.HOADON?.HTTT" />
    </div>

    <div class="form-group">
        <label class="control-label">Địa chỉ nhận hàng</label>
        <input readonly class="form-control" value="@Model.HOADON?.DiaChiNhanHang" />
    </div>

    <div class="form-group">
        <label class="control-label">Tình trạng</label>
        <input readonly class="form-control" value="@Model.HOADON?.TinhTrang" />
    </div>
 *@
    <!-- Nút Submit và Quay lại -->
    <div class="form-group">
        <button type="submit" class="btn btn-danger">Sửa</button>
        <a asp-action="Index" class="btn btn-primary">Quay lại</a>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
