@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model List<List<SANPHAM>>
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_TempLayout.cshtml";
    ViewBag.ViewNow = "Index";
}
<h2 class="text-2xl font-bold mb-4 text-center pt-2">CÁC HÃNG SẢN PHẨM</h2>
<!-- View cho hình ảnh sản phẩm để lọc -->
<nav class="flex justify-around"><a asp-action="ToolFindProduct" asp-route-firms="TUFT" class="text-center card-tasks card-profile">
    <div class="card-body">
        <div class="table">
            <figure class="group rounded-lg">
                <img src="https://cdn.leonardo.ai/users/95219c13-f990-4541-addb-090c7c03d405/generations/419db076-2e65-43f8-a2d8-243d24450548/Default_Render_a_highly_detailed_image_of_a_pair_of_sleek_mode_3.jpg"
                     alt="TUFT"
                     class="h-48 w-48 rounded-lg cursor-pointer transition-opacity duration-200 group-hover:opacity-90">
            </figure>
            <figcaption class="mt-2 font-text-gray-900 group-hover:text-blue-600">TUFT</figcaption>
        </div>
    </div>
</a>
<a asp-action="ToolFindProduct" asp-route-firms="Adidas" class="text-center card-tasks card-profile">
    <div class="card-body">
        <div class="table">
            <figure class="group rounded-lg">
                <img src="https://cdn.leonardo.ai/users/95219c13-f990-4541-addb-090c7c03d405/generations/ffb3ee67-f7e3-45e8-9540-bc2f8f4a73eb/Default_Create_a_highangle_welllit_and_intricately_detailed_im_3.jpg"
                     alt="Adidas"
                     class="h-48 w-48 rounded-lg cursor-pointer transition-opacity duration-200 group-hover:opacity-90">
            </figure>
            <figcaption class="mt-2 font-text-gray-900 group-hover:text-blue-600">Adidas</figcaption>
        </div>
    </div>
</a>
<a asp-action="ToolFindProduct" asp-route-firms="Adidus" class="text-center card-tasks card-profile">
    <div class="card-body">
        <div class="table">
            <figure class="group rounded-lg">
                <img src="https://cdn.leonardo.ai/users/95219c13-f990-4541-addb-090c7c03d405/generations/74e2a439-446e-4081-8855-86abeca4d7fd/Default_Create_an_image_of_a_pair_of_sleek_mens_sports_shoes_w_1.jpg"
                     alt="Adidus"
                     class="h-48 w-48 rounded-lg cursor-pointer transition-opacity duration-200 group-hover:opacity-90">
            </figure>
            <figcaption class="mt-2 font-text-gray-900 group-hover:text-blue-600">Adidus</figcaption>
        </div>
    </div>
</a>
<a asp-action="ToolFindProduct" asp-route-firms="Sirius" class="text-center card-tasks card-profile">
    <div class="card-body">
        <div class="table">
            <figure class="group rounded-lg">
                <img src="https://cdn.leonardo.ai/users/95219c13-f990-4541-addb-090c7c03d405/generations/089b4806-4854-4044-83b1-3d58e1ac2ddb/Default_Create_a_highly_detailed_photorealistic_image_of_a_pai_3.jpg"
                     alt="Sirius"
                         class="h-48 w-48 rounded-lg cursor-pointer transition-opacity duration-200 group-hover:opacity-90">
                </figure>
                <figcaption class="mt-2 font-text-gray-900 group-hover:text-blue-600">Sirius</figcaption>
            </div>
        </div>
    </a>

</nav>

<!-- Section for displaying products -->
<div class="container mx-auto px-4 py-16">
    <h2 class="text-2xl font-bold mb-4">SẢN PHẨM KHUYẾN MÃI</h2>
    @* View sản phẩm có overlayout-x auto *@
    
    @if (Model[1].Count() != 0) {
    <div class="grid grid-cols-1 overflow-x-auto py-3">
        <div class="flex flex-nowrap">
            @foreach (var oneProduct in Model[1])
            {
                <a asp-action="ShowDetailProduct" asp-route-idProduct="@oneProduct.MaSP" class="cursor-point bg-white rounded-lg shadow-md p-4 hover:scale-105 overflow-hidden flex-shrink-0 mr-4" style="min-width: 300px;">
                    <div class="relative">
                        <span class="absolute top-0 left-0 bg-red-500 text-white text-xs font-bold px-2 py-1">🔥-@oneProduct.KHUYENMAI.PhanTramKhuyenMai% OFF</span>
                        <span class="absolute top-0 right-0 bg-yellow-500 text-white text-xs font-bold px-2 py-1">Hot</span>
                            <img src="@Url.Content("~/img/productImage/" + oneProduct.HinhAnh)" alt="@oneProduct.TenSP"  class="w-full h-80 object-cover rounded-md">
                    </div>
                    <h4 class="font-semibold mt-2">@oneProduct.TenSP</h4>
                    <div class="flex items-center mt-1">
                        <span class="text-yellow-500">⭐⭐⭐⭐⭐</span>
                    </div>
                    <p class="text-lg font-bold mt-2">@Math.Round((double)@oneProduct.DonGiaBan * ((double)1 - (double)@oneProduct.KHUYENMAI.PhanTramKhuyenMai / 100), 2)  VND</p>
                    <p class="line-through text-zinc-500">@oneProduct.DonGiaBan VND</p>
                </a>
                }
        </div>
    </div>
    }
    @* View sản phẩm có xuống dòng *@
    <div class="container mx-auto p-4">
        <h2 class="text-2xl font-bold mb-4">SẢN PHẨM ĐỀ CỬ</h2>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 py-3">
            @foreach (var aProduct in Model[0])
            {

                <a asp-action="ShowDetailProduct" asp-route-idProduct="@aProduct.MaSP" class="cursor-pointer bg-white rounded-lg shadow-lg p-4 flex justify-content-between hover:scale-105" style="flex-direction: column;">
                    <div class="relative">
                        @if (aProduct.KHUYENMAI != null && aProduct.KHUYENMAI.PhanTramKhuyenMai != 0)
                        {
                            <span class="absolute top-0 left-0 bg-red-500 text-white text-xs font-bold px-2 py-1">🔥-@aProduct.KHUYENMAI.PhanTramKhuyenMai% OFF</span>
                        }<span class="absolute top-0 right-0 bg-yellow-500 text-white text-xs font-bold px-2 py-1">Hot</span>
                            <img src="@Url.Content("~/img/productImage/" + aProduct.HinhAnh)" alt="@aProduct.TenSP"  class="w-full h-80 object-cover rounded-md">
                    </div>
                    <h4 class="font-semibold mt-2">@aProduct.TenSP</h4>
                    <div class="flex items-center mt-1">
                        <span class="text-yellow-500">⭐⭐⭐⭐⭐</span>
                    </div>

                    @if (aProduct.KHUYENMAI != null && aProduct.KHUYENMAI.PhanTramKhuyenMai != 0)
                    {
                        <p class="text-lg font-bold mt-2">@Math.Round((double)@aProduct.DonGiaBan * ((double)1 - (double)@aProduct.KHUYENMAI.PhanTramKhuyenMai / 100), 2) VND</p>
                        <p class="line-through text-zinc-500">@aProduct.DonGiaBan VND</p>
                    } else
                    {
                        <p class="text-lg font-bold mt-2">@aProduct.DonGiaBan VND</p>
                    }
                </a>
            }



        </div>
    </div>
</div>
<script src="https://cdn.botpress.cloud/webchat/v1/inject.js"></script>
<script src="https://mediafiles.botpress.cloud/83ab0b9a-fc63-45d7-9374-c8b93d98b6f3/webchat/config.js" defer></script>  