@using Newtonsoft.Json;
@using System.Security.Claims;
@{
    var userRole = User.FindFirst(ClaimTypes.Role)?.Value;
    var userName = User.FindFirst(ClaimTypes.UserData)?.Value;
}
@if ((User.Identity.IsAuthenticated && userRole != "Nhân viên" && User.Identity.IsAuthenticated && userRole != "Quản lý"))
{
    Layout = null;
    <script type="text/javascript">
        alert("Bạn không có quyền truy cập vào trang này.");
        window.location.href = '@Url.Action("Index", "Home")'; 
    </script>

}
<!DOCTYPE html>
<html lang="vi">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>@TempData["Title"] | TUFT</title>
    <meta content="width=device-width, initial-scale=1.0, shrink-to-fit=no" name="viewport" />
    @await RenderSectionAsync("head", required: false)
    <link rel="icon" href="~/img/kaiadmin/favicon.ico" type="image/x-icon" />
    <!-- Sử dụng jQuery từ local hoặc CDN, không cả hai -->
    <script src="~/js/core/jquery-3.7.1.min.js"></script>

    <!-- jQuery Validation -->
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography"></script>
    <script src="https://unpkg.com/unlazy@0.11.3/dist/unlazy.with-hashing.iife.js" defer init></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Fonts and icons -->
    <script src="~/js/plugin/webfont/webfont.min.js"></script>

    <!-- CSS Files -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/plugins.min.css" />
    <link rel="stylesheet" href="~/css/kaiadmin.min.css" />
    <!--Thêm Toastr mục đích hiển thị thông báo dưới góc màn hình-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />
    @* chatbot *@
     <script src="https://cdn.botpress.cloud/webchat/v1/inject.js"></script>
    <script src="https://mediafiles.botpress.cloud/83ab0b9a-fc63-45d7-9374-c8b93d98b6f3/webchat/config.js" defer></script>  
   
</head>
<style>
    /*True begin add*/
        .sidebar-content .nav-item a h3 {
            margin: 0 0 0 15px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .sidebar-content .nav-item a i {
            width: 10px;
        }
    /*True end add*/
    </style>
<body>
    <div class="wrapper">
        <!-- Sidebar -->
        <div class="sidebar pt-4" data-background-color="dark">
            <div class="sidebar-logo">
                <!-- Logo Header -->
                <div class="logo-header" data-background-color="dark">
                    <a asp-controller="Home" asp-action="Index" class="logo">
                        <img src="~/img/kaiadmin/logo_dark.png"
                             alt="navbar brand"
                             class="navbar-brand w-100"/>
                    </a>
                    <div class="nav-toggle">
                        <button class="btn btn-toggle toggle-sidebar">
                            <i class="gg-menu-right"></i>
                        </button>
                        <button class="btn btn-toggle sidenav-toggler">
                            <i class="gg-menu-left"></i>
                        </button>
                    </div>
                    <button class="topbar-toggler more">
                        <i class="gg-more-vertical-alt"></i>
                    </button>
                </div>
                <!-- End Logo Header -->
            </div>
            <div class="sidebar-wrapper scrollbar scrollbar-inner">
                <div class="sidebar-content">
                    <ul class="nav nav-pills flex-column mb-auto">
                        @if (User.IsInRole("Quản lý"))
                        {


                            <li class="nav-item">
                                <a asp-controller="Admin" asp-action="TongQuan">

                                    <i class="fas fa-tachometer-alt"></i>
                                    <h6>TÔNG QUAN</h6>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-controller="NHANVIENs" asp-action="Index">
                                    <i class="fa-solid fa-house"></i>
                                    <h6>QUẢN LÝ NHÂN VIÊN</h6>

                                    @* <i class="fas fa-tachometer-alt"></i>
                                <h3>TỔNG QUAN</h3>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Admin" asp-action="NHANVIENS">
                                <i class="fas fa-users"></i>
                                <h3>QUẢN LÝ NHÂN VIÊN</h3> *@

                                </a>
                            </li>
                            
                            <li class="nav-item">
                                <a asp-controller="SANPHAMs" asp-action="Index">

                                    <i class="fas fa-shopping-bag"></i>
                                    <h6>QUẢN LÝ SẢN PHẨM</h6>

                                    @* <i class="fas fa-shopping-bag"></i>
                                <h3>QUẢN LÝ SẢN PHẨM</h3> *@

                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-controller="KHUYENMAIs" asp-action="Index">

                                    <i class="fas fa-tags"></i>
                                    <h6>QUẢN LÝ KHYẾN MÃI</h6>
                                </a>
                            </li>
                            
                            <li class="nav-item">
                                <a asp-controller="NHACUNGCAPs" asp-action="Index">

                                    <i class="fas fa-truck"></i>
                                    <h6>QUẢN LÝ NHÀ CUNG CẤP</h6>

                                    @* <i class="fas fa-truck"></i>
                                <h3>QUẢN LÝ NHÀ CUNG CẤP</h3> *@

                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-controller="CHITIETNHAPs" asp-action="Index">

                                    <i class="fas fa-receipt"></i>
                                    <h6>QUẢN LÝ PHIẾU NHẬP</h6>

                                    @* <i class="fas fa-receipt"></i>
                                <h3>QUẢN LÝ PHIẾU NHẬP</h3> *@

                                </a>
                            </li>
                        }
                        <li class="nav-item">
                                <a asp-controller="KHACHHANGs" asp-action="Index">

                                    <i class="fas fa-user-friends"></i>
                                    <h6>QUẢN LÝ KHÁCH HÀNG</h6>

                                    @* <i class="fas fa-user-friends"></i>
                                <h3>QUẢN LÝ KHÁCH HÀNG</h3> *@

                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-controller="CHITIETHOADONs" asp-action="Index">
                                    <i class="fa-solid fa-house"></i>
                                    <h6>QUẢN LÝ HÓA ĐƠN</h6>

                                @* <i class="fas fa-tags"></i>
                                <h3>QUẢN LÝ KHUYẾN MÃI</h3>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="HOADONs" asp-action="Index">
                                <i class="fas fa-file-invoice"></i>
                                <h3>QUẢN LÝ HÓA ĐƠN</h3> *@

                                </a>
                            </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- End Sidebar -->

        <div class="main-panel">
            <div class="main-header">
                <div class="main-header-logo">
                    <!-- Logo Header -->
                    <div class="logo-header" data-background-color="dark">
                        <a href="index.html" class="logo">
                            <img src="~/img/kaiadmin/logo_light.svg"
                                 alt="navbar brand"
                                 class="navbar-brand h-50" />
                        </a>
                        <div class="nav-toggle">
                            <button class="btn btn-toggle toggle-sidebar">
                                <i class="gg-menu-right"></i>
                            </button>
                            <button class="btn btn-toggle sidenav-toggler">
                                <i class="gg-menu-left"></i>
                            </button>
                        </div>
                        <button class="topbar-toggler more">
                            <i class="gg-more-vertical-alt"></i>
                        </button>
                    </div>
                    <!-- End Logo Header -->
                </div>
                <!-- Navbar Header -->
                <nav class="navbar navbar-header navbar-header-transparent navbar-expand-lg border-bottom">
                    <div class="container-fluid">
                       

                        <ul class="navbar-nav topbar-nav ms-md-auto align-items-center">
                            <li class="nav-item topbar-icon dropdown hidden-caret d-flex d-lg-none">
                                
                                <ul class="dropdown-menu dropdown-search animated fadeIn">
                                    <form class="navbar-left navbar-form nav-search">
                                        <div class="input-group">
                                            <input type="text"
                                                   placeholder="Search ..."
                                                   class="form-control" /> 
                                        </div>
                                    </form>
                                </ul>
                            </li>
                      
                         

                            
                            <a class="dropdown-item" asp-action="LogOut" asp-controller="Login"><button class="btn btn-sm btn-info">ĐĂNG XUẤT</button></a>
                            <a class="dropdown-item" asp-action="Index" asp-controller="ProductPage"><button class="btn btn-sm btn-info">CHUYỂN ĐẾN TRANG CHỦ</button></a>
                        </ul>
                    </div>
                </nav>
                <!-- End Navbar -->
            </div>

            <div class="container" style="padding:50px !important">
                @RenderBody()
            </div>
        </div>
        <!-- End Custom template -->
    </div>

    
    <!-- Thêm phần thanh thông báo -->
    @{
        var alertMessageJson = TempData["AlertMessage"] as string;
        var alertMessage = alertMessageJson != null ? JsonConvert.DeserializeObject<dynamic>(alertMessageJson) : null;
    }
    @if (alertMessageJson != null)
    {
        <div id="action-alert" class="alert alert-@alertMessage.Type fixed text-center cursor-pointer" style="display: none; bottom: 0; right: 0;" onclick="this.style.display='none'">
            <span data-notify="icon">
                @{
                    switch ((string)alertMessage.type)
                    {
                        case "success":
                            @:🟢
                        break;
                        case "primary":
                            @:🔵
                        break;
                        case "secondary":
                            @:🟣
                        break;
                        case "info":
                            @:🔷
                        break;
                        case "warning":
                            @:🟠
                        break;
                        case "danger":
                            @:🔴
                        break;
                        case "black":
                            @:⚫
                        break;
                        default:
                                @:ℹ️
                            break;
                    }
                }
            </span>
            <span data-notify="title">@alertMessage.title</span>
            <span data-notify="message">@alertMessage.message</span>
        
        </div>
    }
    <script>
        $(document).ready(function () {
            var alertDiv = $('#action-alert');

            if (alertDiv.length) {
                alertDiv.slideDown();
                setTimeout(function () {
                    alertDiv.slideUp(400, function () {
                        alertDiv.remove();
                    });
                }, 3000);
            }
        });

    </script>

    <!-- Đặt mặc định cho sản phẩm không có hình ảnh -->
    <script>
        document.querySelectorAll('img').forEach((img) => {
            img.onerror = function () {
                this.src = 'https://cdn.leonardo.ai/users/95219c13-f990-4541-addb-090c7c03d405/generations/77ed9f7c-fb62-4f73-a9de-17ddc965e777/Default_create_an_image_with_the_main_color_being_gray_and_whi_1.jpg';
            };
        });
    </script>

    <!--   Core JS Files   -->
    <script src="~/js/core/jquery-3.7.1.min.js"></script>
    <script src="~/js/core/popper.min.js"></script>
    <script src="~/js/core/bootstrap.min.js"></script>

    <!-- jQuery Scrollbar -->
    <script src="~/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>

    <!-- Chart JS -->
    <script src="~/js/plugin/chart.js/chart.min.js"></script>

    <!-- jQuery Sparkline -->
    <script src="~/js/plugin/jquery.sparkline/jquery.sparkline.min.js"></script>

    <!-- Chart Circle -->
    <script src="~/js/plugin/chart-circle/circles.min.js"></script>

    <!-- Datatables -->
    <script src="~/js/plugin/datatables/datatables.min.js"></script>

    <!-- Bootstrap Notify -->
    <script src="~/js/plugin/bootstrap-notify/bootstrap-notify.min.js"></script>

    <!-- jQuery Vector Maps -->
    <script src="~/js/plugin/jsvectormap/jsvectormap.min.js"></script>
    <script src="~/js/plugin/jsvectormap/world.js"></script>

    <!-- jQuery Validate -->
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    
    <!-- Sweet Alert -->
    <script src="~/js/plugin/sweetalert/sweetalert.min.js"></script>

    <!-- Kaiadmin JS -->
    <script src="~/js/kaiadmin.min.js"></script>


    <!-- Kaiadmin DEMO methods, don't include it in your project! -->
    <script>
        $(document).ready(function () {
            toastr.options = {
                "closeButton": true,
                "debug": false,
                "newestOnTop": false,
                "progressBar": true,
                "positionClass": "toast-bottom-right", // Hiển thị ở góc dưới bên phải
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            };


            var successMessage = '@TempData["SuccessMessage"]';
            if (successMessage) {
                toastr.success(successMessage);
         
            }

            var errorMessage = '@TempData["ErrorMessage"]';
            if (errorMessage) {
                toastr.error(errorMessage);
            }
           
        });
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
   @*  @RenderSection("AdditionalCustomScripts", required: false)
    @RenderSection("EditCustomScripts", required: false)
    @RenderSection("AddKhuyenMaiScripts", required: false)
    @RenderSection("EditKhuyenMaiScripts", required: false)
    @RenderSection("AdditionalNhanVienScripts", required: false)
    @RenderSection("EditNhanVienScripts", required: false)
    @RenderSection("DeleteNhanVienScripts", required: false)
    @RenderSection("AdditionalSanPhamScripts", required: false)
    @RenderSection("EditSanPhamScripts", required: false)
    @RenderSection("DeleteSanPhamScripts", required: false) *@
</body>
</html>
