@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<Du_An_One.Models.SANPHAM>
@{
    ViewData["Title"] = "Home Page";
}



@foreach (var aProduct in Model)
{
    <a asp-action="ShowDetailProduct" asp-route-idProduct="@aProduct.MaSP" class="cursor-pointer bg-white rounded-lg shadow-lg p-4 flex justify-content-between hover:scale-105" style="flex-direction: column;">
        <div class="relative">
            @if ((@aProduct.KHUYENMAI?.PhanTramKhuyenMai) != 0)
            {
                <span class="absolute top-0 left-0 bg-red-500 text-white text-xs font-bold px-2 py-1">🔥-@aProduct.KHUYENMAI.PhanTramKhuyenMai% OFF</span>
            }
            <span class="absolute top-0 right-0 bg-yellow-500 text-white text-xs font-bold px-2 py-1">Hot</span>
            <img src="@Url.Content("~/img/productImage/" + aProduct.HinhAnh)" alt="@aProduct.TenSP" class="w-full h-80 object-cover rounded-md">
        </div>
        <h4 class="font-semibold mt-2">@aProduct.TenSP</h4>
        <div class="flex items-center mt-1">
            <span class="text-yellow-500">⭐⭐⭐⭐⭐</span>
        </div>
        @if (@aProduct.KHUYENMAI.PhanTramKhuyenMai != 0)
        {
            <p class="text-lg font-bold mt-2">@Math.Round((double)@aProduct.DonGiaBan * ((double)1 - (double)@aProduct.KHUYENMAI.PhanTramKhuyenMai / 100), 2) VND</p>
            <p class="line-through text-zinc-500">@aProduct.DonGiaBan VND</p>
        }
        else
        {
            <p class="text-lg font-bold mt-2">@aProduct.DonGiaBan VND</p>
        }
    </a>
}
