@* @model IEnumerable<Du_An_One.Models.HOADON> *@
@model X.PagedList.IPagedList<Du_An_One.Models.HOADON>
@using X.PagedList.Mvc.Core
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/_LayoutAdmin.cshtml";
}

@* <h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DiaChiNhanHang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayTao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HTTT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TinhTrang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaNV)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaKH)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DiaChiNhanHang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayTao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HTTT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TinhTrang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaNV)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaKH)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaHoaDon">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaHoaDon">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaHoaDon">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
 *@
<div class="page-inner">



    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">HÓA ĐƠN</h1>
    </div>
    <div class="row">

        <div class="col-md-9">
            <div class="row">

                <div class="col-sm-12" style="margin:20px 0 0 0; ">
                    <form asp-controller="HOADONs" asp-action="Index">
                        <input type="input" id="searchInput" name="keywords" class="form-control mb-3" placeholder="Tìm kiếm">
                        <button style="margin-bottom: 20px"><a class="btn btn-primary">Tìm kiếm</a></button>

                    </form>
                    <a style="color:green" asp-controller="CHITIETHOADONs" asp-action="Index">Chuyển tới chi tiết hóa đơn</a>
                    @*  <button type="button" class="btn btn-primary editButton" asp-action="Edit"><i class="bi bi-pencil"></i></button> *@
                </div>
            </div>

            <table class="table table-bordered table-hover" style="width:135%;">

        </div>
        <thead>
            <tr style="font-size:.9em">
                <th class="text-center" style="width:auto">Mã Hóa Đơn</th>
                <th class="text-center" style="width:auto">Địa chỉ nhân hàng</th>
                <th class="text-center" style="width:auto">Ngày tạo</th>
                <th class="text-center" style="width:auto">HTTT</th>
                <th class="text-center" style="width:auto">Thu ngân</th>
                <th class="text-center" style="width:auto">Khách hàng</th>
                <th class="text-center" style="width:auto">Tình trạng</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var hoadon in Model)
            {
                <tr style="font-size:.9em">
                    <td name="DisplayMaHoaDon">@hoadon.MaHoaDon</td>
                    <td>@hoadon.DiaChiNhanHang</td>
                    <td>@hoadon.NgayTao.ToString("dd/MM/yyyy")</td>
                    <td>@hoadon.HTTT</td>
                    <td>@hoadon.MaNV</td>
                    <td>@hoadon.MaKH</td>
                    <td>@hoadon.TinhTrang</td>

                    <!-- Sửa -->

                    <td><a type="button" class="btn btn-sm btn-info" asp-action="Edit" asp-route-id="@hoadon.MaHoaDon">Sửa</a></td>
                    <td><a type="button" class="btn btn-sm btn-primary" asp-action="Details" asp-route-id="@hoadon.MaHoaDon">Chi tiết</a></td>

                    <!-- Xóa -->
                    <td>
                        <a type="button" class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@hoadon.MaHoaDon">Xóa</a>
                    </td>



                </tr>
            }
        </tbody>
        </table>
    </div>
    <div>
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), new PagedListRenderOptions
   {
       LiElementClasses = new List<string> { "page-item" },
       PageClasses = new List<string> { "page-link" }
   })
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</div>